@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
}
.main__div {
  height: 100vh;
  background: radial-gradient(
    81.82% 118.57% at 6.29% 112.08%,
    #622b19 2.51%,
    #532516 44.93%,
    #7b3c27 100%
  );
  padding-left: 6rem;
  margin-bottom: 0;
  overflow: hidden;
}
.flexdiv {
  display: flex;
  flex-direction: row;
}
.navbar ul {
  display: flex;
  padding-top: 3rem;
  align-items: baseline;
}
.navbar ul li {
  list-style-type: none;
  color: #f8f3e2;
  font-size: 1rem;
}
.navbar ul li span {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: #f8f3e2;
  margin-left: 3rem;
  font-family: "Nunito Sans", sans-serif;
}
.main__btn{
  background: #EDCA90;
  color:  #1D1B1F;
  outline: none;
  border: none;
  margin-left: 1rem;
  padding: 0.5rem 0.7rem;
  
}
.main__div__left__content {
  color: #f8f3e2;
}
.main__div__left__content h2 {
  font-weight: 500;
  font-size: 6rem;
}
.main__div__left__content span {
  color: #edca90;
}
.main__div__left__content p {
  font-size: 1.3rem;
  color: #edca90;
  margin-top: -2rem;
  font-style: italic;
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
}

.img1 {
  position: relative;
  border-radius: 0 0 150px 150px;
  height: 50vh;
  margin-left: 10rem;
  margin-top: -2rem;
}
.img2 {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  width: auto;
  margin-top: -5rem;
  border-radius: 150px 150px 0 0;
}
.host-img {
  border-radius: 50px 50px 0 50px;
  display: flex;
  position: relative;
  margin-right: 10rem;

  margin-left: auto;
}
.host {
  padding-top: 2rem;
  position: absolute;
  right: 7rem;
  color: #edca90;
  font-size: 1.2rem;
}
.host p {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
}

.about__container {
  height: 100vh;
  background: linear-gradient(71.17deg, #edca90 22.2%, #f8d9a8 107.23%);
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 15rem;
}

.about__left img {
  width: 20rem;
  position: relative;

  top: 3rem;
}
.logo {
  position: absolute;
  top: 50%;
}
.about__left {
  width: 20vw;
}
.about__right {
  width: 50vw;
}
.about__right h2 {
  font-size: 50px;
}
.about__right p {
  color: #1d1b1f;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
.about__right span {
  font-weight: bold;
  color: #532516;
}

.content {
  background: #f8f3e2;
  padding: 5rem 10rem;
  text-align: center;
  
}

.content__div1 {
  margin-top: 2rem;
  /* display: flex; */
  height: 25vw;
}

.content__div1 img {
  float: right;
  height: 25vw;
}
.content__div2 {
  margin-top: 2rem;
  height: 25vw;
}
.content__div2 img {
  float: left;
  height: 25vw;
}

.content__div__content h2 {
  color: #532516;
  font-size: 3rem;
}
.content__div__content {
  max-width: 40vw;
}
.content__div__content p {
  color: #1d1b1f;
  font-size: 1.3rem;
}
/* float box 2 */

/* register */

.register {
  background: #532516;
  display: flex;
}
.register h2 {
  color: #edca90;
  font-size: 4rem;
}
.register p {
  color: #ffffff;
  font-size: 1.3rem;
}
.btn {
  background: #edca90;
  color: #1d1b1f;
  padding: 1rem 3rem;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 1.3rem;
  margin-top: 2rem;
}
.register span {
  color: #e5baa7;
  font-size: 1rem;
}
.register__content {
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80vw;
  width: 50rem;
}

.footer {
  background: #3d190e;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.footer__left {
  align-items: center;
}
.footer__right {
  align-items: center;
}
.footer__right p {
  color: #edca90;
  font-size: 20px;
  font-weight: 600px;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 6rem;
}
.footer ul {
  display: flex;
  flex-direction: row;
}
.footer ul li {
  list-style-type: none;
  flex-basis: 2rem;
  margin-left: 4rem;
  color: #f8f3e2;
  font-size: 30px;
}
.footer ul li a {
  text-decoration: none;
  color: #edca90;
  font-size: 20px;
  font-weight: 600px;
  font-family: "Nunito Sans", sans-serif;
}
@media only screen and (max-width: 1000px) {
  .content-2{
    width: 70vw;
  }
}


@media only screen and (max-width: 1150px) {
  .main__div {
    height: 100%;
    padding-left: 1rem;
  }
  .flexdiv {
    flex-direction: row;
  }
  .navbar ul {
    padding-top: 3rem;
  }
  .navbar ul li span {
    font-size: 1.8rem;
  }
  .navbar ul li a {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .main__div__left__content h2 {
    font-size: 5rem;
    margin-top: 4rem;
  }
  .main__div__left__content p {
    font-size: 1rem;
    
  }
  
  
  .img1 {
    border-radius: 150px 150px;
    display: flex;
    /* margin-right: 1rem; */
    margin-left: 1rem;
    height: 20rem;
    margin-top: 2rem;
  }
  .img2 {
    position: relative;
    display: flex;
    margin-left: 1vw;
    margin-right: auto;
    height: 15rem;
    margin-top: 3rem;
    border-radius: 150px;
  }
  .host-img {
    border-radius: 50px 50px 0 50px;
    display: flex;
    position: relative;
    margin-right: 0;
    height: 7rem;
  }
  .host {
    padding-top: 2rem;
    position: absolute;
    right: 2rem;
    margin-top: 3.2rem;
    font-size: 0.8rem;
  }
  .about__container {
    height: 100%;
    padding-bottom: 14rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 5rem;
  }
  .about__left {
    width: auto;
  }
  .about__left img {
    width: 13rem;
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  .about__right {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 4rem;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
  }
  .about__right h2 {
    font-size: 3.4rem;
  }
  .about__right p {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }

  .content-2 {
    display: block;
    width: auto;
  }
  .content__div1 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content__div2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content-2 img {
    height: 10rem;
    width: 8rem;
    display: flex;
    margin: auto;
  }
  .content-2 h2 {
    font-size: 1.5rem;
  }
  .content-2 p {
    font-size: 1rem;
  }
  .content__div__content {
    max-width: 100%;
  }
  .content {
    padding: 2rem 2rem;
  }
  .register h2 {
    font-size: 3rem;
  }
  .register p {
    font-size: 1rem;
  }
  .btn {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }
  .register span {
    font-size: 0.8rem;
  }
  .footer__main {
    display: flex;
    flex-direction: row;
  }
  .footer__left {
    align-items: center;
  }
  .footer__right {
    align-items: center;
  }
  .footer__right {
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
  .footer ul li {
    flex-basis: 0;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .footer ul li span {
    position: relative;
    left: -2.5rem;
  }
  .footer ul li a {
    font-size: 1rem;
    float: right;
    position: relative;
    right: -2.5rem;
  }
}






@media only screen and (max-width: 500px) {
  .flexdiv {
    flex-direction: column;
  }
  .navbar ul li span {
    font-size: 1rem;
  }
  .navbar ul li a {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  .main__div__left__content h2 {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .main__div__left__content p {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  
  
  .img1 {
 
    display: flex;
    margin-right: 2rem;
    margin-left: auto;
    height: 15rem;
  }
  .img2 {
    position: relative;
    display: flex;
    margin-left: 1vw;
    margin-right: auto;
    height: 10rem;
    margin-top: 5rem;
    
  }
  .host-img {
    
    display: flex;
    position: relative;
    margin-right: 0;
    height: 5rem;
  }
  .host {
    padding-top: 2rem;
    position: absolute;
    right: 2rem;
    margin-top: 3.2rem;
    font-size: 0.8rem;
  }
  .about__container {
    height: 130vh;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
  }

}





